//- LIB
  
script(src='/public/js/vendor.min.js')
if environment.development
  script(src='/client/app.js')
  script(src='/client/app.config.js')
  script(src='/client/controllers/landing.js')
  script(src="/client/controllers/example.js")
  //- @CLI-controllers
  //- @CLI-directives
  script(src='/client/services/landing.js')
  script(src='/client/services/example.js')
  //- @CLI-services
  //- @CLI-filters
  script(src='/client/constants/dictionary.js')
  //- @CLI-constants
else
  case lang
    when "es"
      script(src='/public/js/app-ES.min.js')
    when "en"
      script(src='/public/js/app-EN.min.js')
    when "pt"
      script(src='/public/js/app-PT.min.js')

//-
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-your-code-here', 'auto');
    ga('send', 'pageview');